*{
    padding: 0;
    margin: 0;
}

#main{
    background-image: url(./assit/background_image.png);
    width: 100%;
    height: 60vh;
    background-size: cover;
}

#nave{
    display: flex;
    flex-direction: row;
    color: white;
}

#logo{
    height: 18vh;
    border-radius: 10px;
}

#slog{
    font-size: 25px;
    max-width : 50%;
    margin-left: 5vh;
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2px;
}

button{
    height: 6vh;
    width: 12vh;
    border-radius: 5vh;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0.3vh 0 0.3vh rgba(0, 0, 0, 0.6);
    color: white;
    background-color: darkcyan;
    justify-content: center;
}
 button:hover{
    background-color: white;
    color: darkcyan;
    
}

input[type=search] {
	background: white url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 2px #B04949;
	padding: 9px 10px 9px 32px;
	width: 100px;
	border-radius: 10em;
	transition: all .5s;
    margin-left: 170px;
}
input[type=search]:focus {
	width: 400px;
	background-color: white;
	border-color: #66CC75;
}

.randomPick {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#randomDish {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; /* Add some space at the bottom */
}

#randomDish img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px; /* Add space between image and text */
}

.searched-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px; /* Add gap between items */
    margin-top: 20px;
}

.searched-meal {
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}

.searched-meal img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.searched-meal p {
    margin-top: 10px;
    font-weight: bold;
}

#searchTitle{
    background-color: white;
    justify-content: center;
    text-align: center;
}

.searched-meal-row {
    display: flex;
    justify-content: space-around; /* Adjust space between items in the row */
    margin-bottom: 20px; /* Add space between rows */
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the modal */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Mobile Responsive */
@media only screen and (max-width: 500px) {
    #main{
        background-image: url(./assit/background_image.png);
        width: 100%;
        height: 60vh;
        background-size: cover;
        overflow: hidden;
    }
    
    #logo{
        height: 80px;
        border-radius: 10px;
    }
    
    #slog{
        font-size: 12.5px;
        margin-left: 5vh;
        color: white;
        text-align: center;
        letter-spacing: 0.2px;
        margin-bottom: 20px;
    }
    
    input[type=search] {
        width:100px;
        margin-left: 5vh;
    }
    input[type=search]:focus {
        width: 177px;
        background-color: white;
        border-color: #66CC75;
    }

    #pick{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        text-align: center;
    }

    #searchedMeals{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .searched-meals {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px; /* Reduce the gap between items */
        margin-top: 20px;
    }

    .searched-meal {
        /* flex: 0 0 calc(33.33% - 10px); */
        width: calc(33.33% - 10px);
        box-sizing: border-box;
        padding: 0 5px; /* Adjust the padding between items */
        text-align: center;
    }

    .searched-meal img {
        width: calc(100% - 10px); /* Make the images fill the container width */
        height: auto; 
        border-radius: 10px;
        margin: auto;
        margin-right: 0px;
        padding: 0px;
        overflow: hidden;
    }

    .randomPick {
        display: grid;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
        overflow: hidden;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the modal */
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        border-radius: 10px;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}